/* PHASE 3: Layout */
.content {
  display: flex;
  background: black;
  width: 1000px;
}

.content-sidebar {
  background: grey;
  width: 100px;
  min-height: 200px;
  padding: 20px;
  border-right: 1px solid blue;
}

.content-main {
  background: red;
  width: 400px;
  min-height: 200px;
  padding: 20px;
}
